build
.DS_Store
openssl/.patched
openssl/.unpacked
openssl/openssl-0.9.8k
openssl/openssl-0.9.8k.patch.sdk
Briefcase.xcodeproj/mtaylor.mode1v3
Briefcase.xcodeproj/mtaylor.pbxuser
Helpers/iconextractor
Helpers/thumbnail_grab.py.bz2
Helpers/iconextractor.o
Helpers/system_info_extract.py.bz2
Helpers/systeminfoextractor
Helpers/systeminfoextractor.o
Server Test/Server Test.xcodeproj/mtaylor*
Archive
*Autosaved*
CrashLogs
UTITools/uti_icon_tool/uti_icon_tool
*.mode1v3
*.pbxuser
Provisioning
xcuserdata