[project]
	description = Briefcase SFTP Client
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Reid Ellis (rae)
[access "refs/for/refs/*"]
	read = group user/Reid Ellis (rae)
	push = group user/Reid Ellis (rae)
	label-Code-Review = -2..+2 group user/Reid Ellis (rae)
	label-Verified = -1..+1 group user/Reid Ellis (rae)
	rebase = group user/Reid Ellis (rae)
	removeReviewer = group user/Reid Ellis (rae)
	submit = group user/Reid Ellis (rae)
[access "refs/heads/*"]
	read = group user/Reid Ellis (rae)
	create = group user/Reid Ellis (rae)
	push = +force group user/Reid Ellis (rae)
	pushMerge = group user/Reid Ellis (rae)
[access "refs/tags/*"]
	push = +force group user/Reid Ellis (rae)
	pushTag = group user/Reid Ellis (rae)
	pushSignedTag = group user/Reid Ellis (rae)
